<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1>All Spares</h1>
    </div>
    <div class="col-md-6">
      <input type="text" class="form-control" placeholder="Search by Part Name, Vehicle Made or Model" (keyup)="onSearchChange($event)">
     </div>

  </div>

  <div class="row">
    <div class="col-md-4" style="margin-top: 4px;"  *ngFor="let x of filteredSpares">
      <div class="card">
        <img src="../../../../../assets/img/spare.jpg" class="card-img-top" alt="Card Image">
        <div class="card-body">
          <h5 class="card-title">Spares Information</h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Part Name: {{x.partName}}</li>
            <li class="list-group-item">Motor Model: {{x.motorModel}}</li>
            <li class="list-group-item">Motor Make: {{x.motorMake}}</li>
          </ul>
          <div class="card-footer">
            <button class="btn btn-primary" style="margin-right: 10px;" (click)="view(viewModal, x)">More Details</button>
            <button class="btn btn-success" (click)=" makeOrder(orderModal, x)" >Make Order</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




<ng-template #viewModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">All vehicle Informations</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
  </div>
  <div class="modal-body">
    <div class="card">
      <img src="../../../../../assets/img/spare.jpg" class="card-img-top" alt="Card Image">
      <div class="card-body">
        <h5 class="card-title">Sparepart Information & Seller Information</h5>
        <div class="row">
          <div class="col-sm-6">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Part Name: {{selectedSpare?.partName}}</li>
                <li class="list-group-item">Motorvehicle Made: {{selectedSpare?.motorMake}}</li>
                <li class="list-group-item">MotorvehicleModel: {{selectedSpare?.motorModel}}</li>
              <li class="list-group-item">Price: {{selectedSpare?.price}}</li>
            </ul>

          </div>

          <div class="col-sm-6">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Seller: {{selectedSpare?.firstName}} {{selectedSpare?.lastName}}</li>
              <li class="list-group-item">Region: {{selectedSpare?.region}}</li>
              <li class="list-group-item">District: {{selectedSpare?.district}}</li>
              <li class="list-group-item">Ward: {{selectedSpare?.ward}}</li>
            </ul>

          </div>
        </div>
        <div class="card-footer">
          <button class="btn btn-primary">Make Order</button>
        </div>
      </div>
    </div>
  </div>
</ng-template>

 <!-- modal ya kueka order  -->
 <ng-template #orderModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Making Order</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form class="needs-validation" novalidate [formGroup]="orderForm" >
      <div class="form-row">
        <div class="col-md-12 mb-3">
          <label for="validationCustom01">Item</label>
          <input type="text" class="form-control"
            value="{{selectedSpare?.partName}}" required>
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>

        <div class="col-md-12 mb-3">
          <label for="validationCustom01">Order Date</label>
          <input type="Date" class="form-control"
            formControlName="orderDate" required>
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
        <div class="col-md-12 mb-3">
          <label for="validationCustom02">Quantity</label>
          <input type="number" class="form-control" placeholder="Quantity"
            formControlName="quantity" required>
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
        
      </div>

      <button class="btn btn-secondary" type="submit" (click)="c('Save click')" (click)="postOrder()" >Confirm Order</button>
    </form>


  </div>
 
</ng-template>


    
  
    

    
