<div class="container bootstrap snippets bootdey">
    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="panel panel-dark panel-colorful">
                <div class="panel-body text-center">
                	<p class="text-uppercase mar-btm text-sm">Sellers</p>
                	<i class="fa fa-users fa-5x"></i>
                	<hr>
                	<p class="h2 text-thin">{{sellerNo}}</p>
					<small>
						<span class="text-semibold">
							<i class="fa fa-users fa-fw"></i>
						</span> 
						<a style="text-decoration: none; color: white;" [routerLink]="['../seller-table']">
							See more About Sellers</a>
					</small>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12" >
        	<div class="panel panel-danger panel-colorful">
        		<div class="panel-body text-center">
        			<p class="text-uppercase mar-btm text-sm">Customers</p>
        			<i class="fa fa-users fa-5x"></i>
        			<hr>
        			<p class="h2 text-thin">{{customerNo}}</p>
					
        			<small>
						<span class="text-semibold">
							<i class="fa fa-users fa-fw"></i>
						</span> 
						<a style="text-decoration: none; color: white;" [routerLink]="['../customer-table']">
							See more About Customers</a>
					</small>
        		</div>
        	</div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
        	<div class="panel panel-primary panel-colorful">
        		<div class="panel-body text-center">
        			<p class="text-uppercase mar-btm text-sm">Motorvehicles</p>
        			<i class="fa fa-car fa-5x"></i>
        			<hr>
        			<p class="h2 text-thin">{{motorNo}}</p>
					<small>
						<span class="text-semibold">
							<i class="fa fa-car fa-fw"></i>
						</span> 
						<a style="text-decoration: none; color: white;" [routerLink]="['../all-motorvehicle']">
							See more About Motors</a>
					</small>
        		</div>
        	</div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
        	<div class="panel panel-info panel-colorful">
        		<div class="panel-body text-center">
        			<p class="text-uppercase mar-btm text-sm">Spareparts</p>
        			<i class="fa fa-gears fa-5x"></i>
        			<hr>
        			<p class="h2 text-thin">{{spareNo}}</p>
					<small>
						<span class="text-semibold">
							<i class="fa fa-gears fa-fw"></i>
						</span> 
						<a style="text-decoration: none; color: white;" [routerLink]="['../all-sparepart']">
							See more About Spares</a>
					</small>
        		</div>
        	</div>
        </div>        
	</div>
</div>