.gradient-custom {
    /* fallback for old browsers */
    background: #43423d;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right bottom, rgb(66, 64, 55), rgb(39, 37, 37));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: -webkit-linear-gradient(to right bottom, rgb(66, 64, 55), rgb(39, 37, 37));
    }

    img{
        border-radius: 50%;
    }