<div class="container">
    <input type="checkbox" id="check">
    <div class="login form">
      <header>Customer</header>
      <form [formGroup]="loginForm" >
        <input type="text" placeholder="Enter your email" formControlName="email" >
        <input type="password" placeholder="Enter your password" formControlName="password" >
        <input type="button" class="btn btn-secondary" value="Login" (click)="login()" >
      </form>
      <a [routerLink]="['register']"> Don't have account? register here</a> <br>
      <a [routerLink]="['../']"> Home</a>
      
  </div>

