<div class="container bootstrap snippets bootdey">
    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="panel panel-dark panel-colorful">
                <div class="panel-body text-center">
                	<p class="text-uppercase mar-btm text-sm">Motorvehicles</p>
                	<i class="fa fa-car fa-5x"></i>
                	<hr>
                	<p class="h2 text-thin">{{motorsNo}}</p>
                	<small><span class="text-semibold"><i class="fa fa-car fa-fw"></i></span> 
						<a style="text-decoration: none; color: white;" [routerLink]="['../motorvehicle']">
							See more About Motorvehicles</a>
					</small>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
        	<div class="panel panel-danger panel-colorful">
        		<div class="panel-body text-center">
        			<p class="text-uppercase mar-btm text-sm">Spareparts</p>
        			<i class="fa fa-gears fa-5x"></i>
        			<hr>
        			<p class="h2 text-thin">{{sparesNo}}</p>
        			<small><span class="text-semibold"><i class="fa fa-gears fa-fw"></i></span>
						<a style="text-decoration: none; color: white;" [routerLink]="['../sparepart']">
							See more About Spareparts</a>
					</small>
        		</div>
        	</div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
        	<div class="panel panel-primary panel-colorful">
        		<div class="panel-body text-center">
        			<p class="text-uppercase mar-btm text-sm">Motor Orders</p>
        			<i class="fa fa-shopping-cart fa-5x"></i>
        			<hr>
        			<p class="h2 text-thin">{{motorsOrderNo}}</p>
        			<small><span class="text-semibold"><i class="fa fa-shopping-cart fa-fw"></i></span> 
						<a style="text-decoration: none; color: white;" [routerLink]="['../motor-order']">
							See more About Motor Orders</a>
						</small>
        		</div>
        	</div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
        	<div class="panel panel-info panel-colorful">
        		<div class="panel-body text-center">
        			<p class="text-uppercase mar-btm text-sm">Spare Orders</p>
        			<i class="fa fa-cart-arrow-down fa-5x"></i>
        			<hr>
        			<p class="h2 text-thin">{{spareOrdersNo}}</p>
        			<small><span class="text-semibold"><i class="fa fa-cart-arrow-down fa-fw"></i></span> 
						<a style="text-decoration: none; color: white;" [routerLink]="['../spare-order']">
							See more About Spare Orders</a>
					</small>
        		</div>
        	</div>
        </div>        
	</div>
</div>