<div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-12 mb-4 mb-lg-0">
        <div class="card mb-3" style="border-radius: .5rem;">
          <div class="row g-0">
            <div class="col-md-4 gradient-custom text-center text-white"
              style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem; border-top-right-radius: .5rem; border-bottom-right-radius: .5rem;">
              <img src="../../../../../assets/img/profile.png"
                alt="Avatar" class="img-fluid my-5" style="width: 80px;" />
              <h5> {{profile.firstname}} {{profile.lastname}} </h5>
              <p>Customer</p>
              <i class="far fa-edit mb-5"></i>
            </div>
            <div class="col-md-8">
              <div class="card-body p-4">
                <div class="row">
                  <div class="col-md-6">
                <h6>Personal Information</h6>
                  </div>
                  <div class="col-md-6">
                <button class="btn btn-secondary" style="float: right;"
                (click)="openToUpdate(updateModal)" (click)="dataToUpdate(profile)" >Update</button>
                  </div>
                </div> <br>
                <hr class="mt-0 mb-4">
                <div class="row pt-1">
                  <div class="col-6 mb-3">
                    <h6>Firstname</h6>
                    <p class="text-muted">{{profile.firstname}}</p>
                  </div>
                  <div class="col-6 mb-3">
                    <h6>Lastname</h6>
                    <p class="text-muted">{{profile.lastname}}</p>
                  </div>
                </div>
                <div class="row pt-1">
                  <div class="col-6 mb-3">
                    <h6>Username</h6>
                    <p class="text-muted">{{profile.username}}</p>
                  </div>
                  <div class="col-6 mb-3">
                    <h6>Email</h6>
                    <p class="text-muted">{{profile.email}}</p>
                  </div>
                </div>
                <div class="row pt-1">
                  <div class="col-6 mb-3">
                    <h6>Address</h6>
                    <p class="text-muted">{{profile.ward}}, {{profile.district}}, {{profile.region}}</p>
                  </div>
                  <div class="col-6 mb-3">
                    <h6>Phone number</h6>
                    <p class="text-muted">{{profile.phonenumber}}</p>
                  </div>
                </div>
                
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- modal ya kuupdate profile  -->
<ng-template #updateModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Update Profile</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form class="needs-validation" novalidate [formGroup]="updateForm" >
      <div class="form-row">
        <div class="col-md-6 mb-3">
          <label for="validationCustom01">First name</label>
          <input type="text" class="form-control" placeholder="First name"
            formControlName="firstname" required>
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <label for="validationCustom02">Last name</label>
          <input type="text" class="form-control" placeholder="Last name"
            formControlName="lastname" required>
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
        
      </div>

      <div class="form-row">
        <div class="col-md-6 mb-3">
          <label for="validationCustom03">Phone Number</label>
          <input type="text" class="form-control" id="phone" placeholder="Phone number" formControlName="phonenumber"
            name="region" required>
          <div class="invalid-feedback">
            Please provide a valid phone number.
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <label for="validationCustom03">Region</label>
          <input type="text" class="form-control" id="region" placeholder="Region" formControlName="region"
            name="Region" required>
          <div class="invalid-feedback">
            Please provide a valid city.
          </div>
        </div> 
        
      </div>

      
      <div class="form-row">
        <div class="col-md-6 mb-3">
          <label for="validationCustom03">District</label>
          <input type="text" class="form-control" id="district" placeholder="District" formControlName="district"
            name="district" required>
          <div class="invalid-feedback">
            Please provide a valid city.
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <label for="validationCustom03">Ward</label>
          <input type="text" class="form-control" id="ward" placeholder="Ward" formControlName="ward"
            name="ward" required>
          <div class="invalid-feedback">
            Please provide a valid city.
          </div>
        </div> 
        
      </div>

      <div class="form-row">
        <div class="col-md-6 mb-3">
          <label for="validationCustom03">Old Password</label>
          <input type="password" class="form-control" id="password" placeholder="Old Password" formControlName="oldpassword"
            name="oldpassword" required>
          <div class="invalid-feedback">
            Please provide a valid city.
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <label for="validationCustom03">New Password</label>
          <input type="password" class="form-control" id="newpassword" placeholder="New Password" formControlName="password"
            name="newpassword" required>
          <div class="invalid-feedback">
            Please provide a valid city.
          </div>
        </div> 
        
      </div>


      <div class="form-row">
        <div class="col-md-12 mb-3">
          <label for="validationCustom03">Profile Picture</label>
          <input type="file" class="form-control" id="profilepic" placeholder="Old Password" formControlName="adminprofile"
            name="profilepic" required>
          <div class="invalid-feedback">
            Please provide a valid city.
          </div>
        </div>
        
      </div>




      <button class="btn btn-secondary" type="submit" (click)="c('Save click')" (click)="updateCustomer()" >Update</button>
    </form>


  </div>
 
</ng-template>


