<div class="container">
    <div class="row">
        <div class="col-md-10">
            <h1>My Sparepart orders</h1>
        </div>
      
    </div>    
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Order-date</th>
                <th scope="col">Item</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Total Amount</th>
                <th scope="col">Seller</th>
                <th scope="col">Address</th>
                <th scope="col">Phone</th>
                
            </tr>
        </thead>
        <tbody>
            <tr *ngFor ="let x of orders; let y = index;">
                <td>{{y+1}}</td>
                <td>{{x.orderDate}}</td>
                <td>{{x.partName}}</td>
                <td>{{x.price}}</td>
                <td>{{x.quantity}}</td>
                <td>{{x.amount}} </td>
                <td>{{x.sfirstname}} {{x.slastname}}</td>
                <td>{{x.sward}}, {{x.sdistrict}}, {{x.sregion}}</td>
                <td>{{x.sphonenumber}}</td>              
          
            </tr>
        </tbody>
    </table>
    
    
    </div>   
