 <body>
<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Web portal for spare part sales and motorvehicle resale</h1>
      <p>Welcome to our Web Portal! Explore our vast inventory, connect with trusted sellers, and make informed decisions. Enjoy a seamless experience in the automotive world.</p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2 style="color: dodgerblue;">Admin</h2>
        <p>Welcome, Admin! Manage and oversee our Web Portal For Motor Vehicle Sales and Spare Parts Resale with ease. Drive success and ensure a seamless experience for customers and sellers.</p>
        <p><a class="btn btn-primary" [routerLink]="['Admin']" role="button">Admin Login &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2 style="color: green;">Customer</h2>
        <p>Welcome! Find your perfect vehicle or quality spare parts on our Web Portal For Motor Vehicle Sales and Spare Parts Resale. Enjoy a hassle-free experience and trusted sellers.</p>
        <p><a class="btn btn-success" [routerLink]="['Customer']" role="button">Customer Login &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Seller</h2>
        <p>Greetings, Seller! Showcase your inventory and connect with a wide customer base on our Web Portal For Motor Vehicle Sales and Spare Parts Resale. Maximize your sales and grow your business.</p>
        <p><a class="btn btn-secondary" [routerLink]="['Seller']" role="button">Seller Login &raquo;</a></p>
      </div>
    </div>

    <hr>

  </div> <!-- /container -->

</main>

<footer class="container">
  <p>Developed by &copy;SummyCollection</p>
</footer>

