<div class="container">
    <div class="row">
        <div class="col-md-10">
            <h1>Spareparts</h1>
        </div>
        <div class="col-md-2">
            <button class="btn btn-secondary" (click)="openToPost(postModal)" >Add Spareparts</button>
        </div>
    </div>    
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Sparepart Name</th>
                <th scope="col">Price</th>
                <th scope="col">Part Description</th>
                <th scope="col">Motorvehicle Model</th>
                <th scope="col">Motorvehicle Make</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of sparesList; let y=index">
                <td>{{y+1}}</td>
                <td>{{data.partName}}</td>
                <td>{{data.price}}</td>
                <td>{{data.partName}}</td>
                <td>{{data.motorModel}}</td>
                <td>{{data.motorMake}}</td>
          <td>
            <button class="btn btn-success" style="margin: 3px;" (click)="openToUpdate(updateModal)"
           (click)="editSpare(data)" >Edit</button>
    
            <button class="btn btn-danger" (click)="openToDelete(deleteModal)" >Delete</button>
            <ng-template #deleteModal let-c="close" let-d="dismiss">
              <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">Deleting Sparepart</h4>
                <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
              </div>
              <div class="modal-body">
                <p>Are you sure to delete?</p>
               
              </div>
              <div class="modal-footer">
                <button class="btn btn-danger" (click)="deleteSpare(data.partId)" (click)="c('Save click')" > Yes </button>
                <button class="btn btn-primary" (click)="c('Save click')" > No </button>
    
              </div>
    
            </ng-template>
            </td>
            </tr>
        </tbody>
    </table>
    
    <div class="d-flex justify-content-between p-2">
        <!-- <ngb-pagination
            [collectionSize]="collectionSize"
            [(page)]="page"
            [pageSize]="pageSize"
            (pageChange)="refreshCountries()"
        >
        </ngb-pagination> -->
    
        <!-- <select class="form-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshCountries()">
            <option [ngValue]="2">2 items per page</option>
            <option [ngValue]="4">4 items per page</option>
            <option [ngValue]="6">6 items per page</option>
        </select> -->
    </div>
    </div>
    
    
    <ng-template #postModal let-c="close" let-d="dismiss">
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Add new Spareparts</h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
        </div>
        <div class="modal-body">
            <form class="needs-validation" [formGroup]="SparePostForm" novalidate >
                <div class="form-row">
                  <div class="col-md-4 mb-3">
                    <label for="validationCustom01">Spareparts Name</label>
                    <input type="text" class="form-control" id="validationCustom01" placeholder="Sparepart Name" required formControlName="partName">
                    <div class="valid-feedback">
                      Looks good!
                    </div>
                  </div>

                  <div class="col-md-8 mb-3">
                    <label for="validationCustom01">Part Description</label>
                    <input type="text" class="form-control" id="selleremail" placeholder="Part Description" required formControlName="description">
                    <div class="valid-feedback">
                      Looks good!
                    </div>
                  </div>
                  
                  
                    </div>
                
                  <div class="form-row">
                    <div class="col-md-4 mb-3">
                      <label for="validationCustomUsername">Price</label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="inputGroupPrepend">@</span>
                        </div>
                        <input type="text" class="form-control" id="validationMotorVehicleYear" placeholder="Price" aria-describedby="inputGroupPrepend" required formControlName="price">
                        <div class="invalid-feedback">
                          Please choose a username.
                        </div>
                      </div>
                    </div>
                
                    <div class="col-md-4 mb-3">
                      <label for="validationCustom02">Motorvehicle Model</label>
                      <input type="text" class="form-control" id="sellerpassword" placeholder="Motorvehicle Model"  required formControlName="motorModel">
                      <div class="valid-feedback">
                        Looks good!
                      </div>
                    </div>
                    <div class="col-md-4 mb-3">
                      <label for="validationCustomUsername">Motorvehicle Make</label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="inputGroupPrepend">@</span>
                        </div>
                        <input type="text" class="form-control" id="sellerphonenumber" placeholder="Motorvehicle Make" aria-describedby="inputGroupPrepend" required formControlName="motorMake">
                        <div class="invalid-feedback">
                          Please choose a username.
                        </div>
                      </div>
                    </div>
                  </div>

                  <button class="btn btn-secondary" (click)="addSpare()" >Submit</button>
                 
                 
                </form>
              
        </div>
        <div class="modal-footer">
        </div>
    </ng-template>
    
    
    <!-- ya update -->
    <ng-template #updateModal let-c="close" let-d="dismiss">
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Update Spareparts</h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
        </div>
        <div class="modal-body">
          <form class="needs-validation" [formGroup]="SpareUpdateform" novalidate >
            <div class="form-row">
              <div class="col-md-4 mb-3">
                <label for="validationCustom01">Spareparts</label>
                <input type="text" class="form-control" id="validationCustom01" placeholder="Sparepart name" required formControlName="partName">
                <div class="valid-feedback">
                  Looks good!
                </div>
              </div>

              
              <div class="col-md-8 mb-3">
                <label for="validationCustom01">Part Description</label>
                <input type="text" class="form-control" id="selleremail" placeholder="Part Description" required formControlName="description">
                <div class="valid-feedback">
                  Looks good!
                </div>
              </div>
             
              

            </div>
            
              <div class="form-row">

                <div class="col-md-4 mb-3">
                  <label for="validationCustomUsername">Price</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroupPrepend">@</span>
                    </div>
                    <input type="text" class="form-control" id="validationMotorVehicleYear" placeholder="Price" aria-describedby="inputGroupPrepend" required formControlName="price">
                    <div class="invalid-feedback">
                      Please choose a username.
                    </div>
                  </div>
                </div>
                
                <div class="col-md-4 mb-3">
                  <label for="validationCustom02">Motorvehicle Model</label>
                  <input type="text" class="form-control" id="sellerpassword" placeholder="Motorvehicle Model"  required formControlName="motorModel">
                  <div class="valid-feedback">
                    Looks good!
                  </div>
                </div>
                <div class="col-md-4 mb-3">
                  <label for="validationCustomUsername">Motorvehicle Make</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroupPrepend">@</span>
                    </div>
                    <input type="text" class="form-control" id="sellerphonenumber" placeholder="Motorvehicle Make" aria-describedby="inputGroupPrepend" required formControlName="motorMake">
                    <div class="invalid-feedback">
                      Please choose a username.
                    </div>
                  </div>
                </div>
              </div>

              <button class="btn btn-secondary" (click)="updateSpare()" >Update</button>
             
             
            </form>
          
        </div>
        <div class="modal-footer">
        </div>
    </ng-template>
    
    

