<div class="container">
    <div class="row">
        <div class="col-md-10">
            <h1>Motorvehicles</h1>
        </div>
        <div class="col-md-2">
            <button class="btn btn-secondary" (click)="openToPost(postModal)" >Add MotorVehicle</button>
        </div>
    </div>    
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Made</th>
                <th scope="col">Model</th>
                <th scope="col">Year</th>
                <th scope="col">Mileage</th>
                <th scope="col">Price</th>
                <th scope="col">Condition</th>
                <th scope="col">Transmission Type</th>
                <th scope="col">Fuel Type</th>
                <th scope="col">Exterior Color</th>
                <th scope="col">Interior Color</th>
                <th scope="col">Identification </th>
                <th scope="col">Action</th>

                
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let x of motorsList; let y=index" >
                <td>{{y+1}}</td>
                <td>{{x.motorMade}} </td>
                <td>{{x.motorModel}}</td>
                <td>{{x.releaseYear}}</td>
                <td>{{x.motorMileage}}</td>
                <td>{{x.motorPrice}}</td>
                <td>{{x.motorCondition}}</td>
                <td>{{x.transmissionType}}</td>
                <td>{{x.fuelType}}</td>
                <td>{{x.exteriorColor}}</td>
                <td>{{x.interiorColor}}</td>
                <td>{{x.identification}}</td>
          <td>
            <button class="btn btn-success" style="margin: 3px;" (click)="openToUpdate(updateModal)"
           (click)="editMotors(x)" >Edit</button>

            <button class="btn btn-danger" (click)="openToDelete(deleteModal)" >Delete</button>
            <ng-template #deleteModal let-c="close" let-d="dismiss">
              <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">Deleting Sparepart</h4>
                <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
              </div>
              <div class="modal-body">
                <p>Are you sure to delete?</p>
               
              </div>
              <div class="modal-footer">
                <button class="btn btn-danger" (click)="deleteMotor(x.motorId)" (click)="c('Save click')" > Yes </button>
                <button class="btn btn-primary" (click)="c('Save click')" > No </button>
    
              </div>
    
            </ng-template>
            
          </td>
            </tr>
        </tbody>
    </table>
    
    <div class="d-flex justify-content-between p-2">
        <!-- <ngb-pagination
            [collectionSize]="collectionSize"
            [(page)]="page"
            [pageSize]="pageSize"
            (pageChange)="refreshCountries()"
        >
        </ngb-pagination> -->
    
        <!-- <select class="form-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshCountries()">
            <option [ngValue]="2">2 items per page</option>
            <option [ngValue]="4">4 items per page</option>
            <option [ngValue]="6">6 items per page</option>
        </select> -->
    </div>
    </div>
    
    
    <ng-template #postModal let-c="close" let-d="dismiss">
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Add new MotorVehicle</h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
        </div>
        <div class="modal-body">
            <form class="needs-validation" novalidate [formGroup]="MotorPostForm" >
                <div class="form-row">
                  <div class="col-md-4 mb-3">
                    <label for="validationCustom01">Made</label>
                    <input type="text" class="form-control" id="validationCustom01" placeholder="Made" required formControlName="motorMade">
                    <div class="valid-feedback">
                      Looks good!
                    </div>
                  </div>
                  <div class="col-md-4 mb-3">
                    <label for="validationCustom02">Model</label>
                    <input type="text" class="form-control" id="validationCustom02" placeholder="Model" required 
                    formControlName="motorModel" >
                    <div class="valid-feedback">
                      Looks good!
                    </div>
                  </div>
                  <div class="col-md-4 mb-3">
                    <label for="validationCustomUsername">Year</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroupPrepend">@</span>
                      </div>
                      <input type="text" class="form-control" id="validationMotorVehicleYear" placeholder="Year" aria-describedby="inputGroupPrepend" required formControlName="releaseYear">
                      <div class="invalid-feedback">
                        Please choose a username.
                      </div>
                    </div>
                  </div>
                </div>
                
                  <div class="form-row">
                    <div class="col-md-4 mb-3">
                      <label for="validationCustom01">Mileage</label>
                      <input type="text" class="form-control" id="selleremail" placeholder="Mileage" required formControlName="motorMileage">
                      <div class="valid-feedback">
                        Looks good!
                      </div>
                    </div>
                    <div class="col-md-4 mb-3">
                      <label for="validationCustom02">Price</label>
                      <input type="text" class="form-control" id="sellerpassword" placeholder="Price"  required formControlName="motorPrice">
                      <div class="valid-feedback">
                        Looks good!
                      </div>
                    </div>
                    <div class="col-md-4 mb-3">
                      <label for="validationCustomUsername">Condition</label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="inputGroupPrepend">@</span>
                        </div>
                        <select class="form-control" id="sellerphonenumber" placeholder="Condition" aria-describedby="inputGroupPrepend" required formControlName="motorCondition">
                          <option selected>Select Condition</option>
                          <option value="Good">Good</option>
                          <option value="Fair">Fair</option>
                          <option value="Worse">Worse</option>
                        </select>
                        <div class="invalid-feedback">
                          Please choose a username.
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="col-md-4 mb-3">
                      <label for="validationCustom01">Transmission Type</label>
                      <input type="text" class="form-control" id="selleremail" placeholder="Transmission Type" required formControlName="transmissionType">
                      <div class="valid-feedback">
                        Looks good!
                      </div>
                    </div>
                    <div class="col-md-4 mb-3">
                      <label for="validationCustom02">Fuel Type</label>
                      <input type="text" class="form-control" id="sellerpassword" placeholder="Fuel Type"  required formControlName="fuelType">
                      <div class="valid-feedback">
                        Looks good!
                      </div>
                    </div>
                    <div class="col-md-4 mb-3">
                      <label for="validationCustomUsername">Exterior Color</label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="inputGroupPrepend">@</span>
                        </div>
                        <input type="text" class="form-control" id="sellerphonenumber" placeholder="Exterior Color" aria-describedby="inputGroupPrepend" required formControlName="exteriorColor">
                        <div class="invalid-feedback">
                          Please choose a username.
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="col-md-4 mb-3">
                      <label for="validationCustom01">Interior Color</label>
                      <input type="text" class="form-control" id="selleremail" placeholder="Interior Color" required formControlName="interiorColor">
                      <div class="valid-feedback">
                        Looks good!
                      </div>
                    </div>
                    <div class="col-md-4 mb-3">
                      <label for="validationCustom02">Identification</label>
                      <input type="text" class="form-control" id="sellerpassword" placeholder="Identifications"  required formControlName="identification">
                      <div class="valid-feedback">
                        Looks good!
                      </div>
                    </div>
                    
                  </div>

                  <button class="btn btn-secondary" (click)="addMotor()" >Submit</button>
                </form>
              
        </div>
        <div class="modal-footer">
        </div>
    </ng-template>
    
    
    <!-- ya update -->
    <ng-template #updateModal let-c="close" let-d="dismiss">
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Update Motorvehicle</h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
        </div>
        <div class="modal-body">
          <form class="needs-validation" novalidate [formGroup]="MotorUpdateForm" >
            <div class="form-row">
              <div class="col-md-4 mb-3">
                <label for="validationCustom01">Made</label>
                <input type="text" class="form-control" id="validationCustom01" placeholder="Made" required formControlName="motorMade">
                <div class="valid-feedback">
                  Looks good!
                </div>
              </div>
              <div class="col-md-4 mb-3">
                <label for="validationCustom02">Model</label>
                <input type="text" class="form-control" id="validationCustom02" placeholder="Model" required 
                formControlName="motorModel" >
                <div class="valid-feedback">
                  Looks good!
                </div>
              </div>
              <div class="col-md-4 mb-3">
                <label for="validationCustomUsername">Year</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroupPrepend">@</span>
                  </div>
                  <input type="text" class="form-control" id="validationMotorVehicleYear" placeholder="Year" aria-describedby="inputGroupPrepend" required formControlName="releaseYear">
                  <div class="invalid-feedback">
                    Please choose a username.
                  </div>
                </div>
              </div>
            </div>
            
              <div class="form-row">
                <div class="col-md-4 mb-3">
                  <label for="validationCustom01">Mileage</label>
                  <input type="text" class="form-control" id="selleremail" placeholder="Mileage" required formControlName="motorMileage">
                  <div class="valid-feedback">
                    Looks good!
                  </div>
                </div>
                <div class="col-md-4 mb-3">
                  <label for="validationCustom02">Price</label>
                  <input type="text" class="form-control" id="sellerpassword" placeholder="Price"  required formControlName="motorPrice">
                  <div class="valid-feedback">
                    Looks good!
                  </div>
                </div>
                <div class="col-md-4 mb-3">
                  <label for="validationCustomUsername">Condition</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroupPrepend">@</span>
                    </div>
                    <select class="form-control" id="sellerphonenumber" placeholder="Condition" aria-describedby="inputGroupPrepend" required formControlName="motorCondition">
                      <option selected>Select Condition</option>
                      <option value="Good">Good</option>
                      <option value="Fair">Fair</option>
                      <option value="Worse">Worse</option>
                    </select>
                    <div class="invalid-feedback">
                      Please choose a username.
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="col-md-4 mb-3">
                  <label for="validationCustom01">Transmission Type</label>
                  <input type="text" class="form-control" id="selleremail" placeholder="TransmissionType" required formControlName="transmissionType">
                  <div class="valid-feedback">
                    Looks good!
                  </div>
                </div>
                <div class="col-md-4 mb-3">
                  <label for="validationCustom02">Fuel Type</label>
                  <input type="text" class="form-control" id="sellerpassword" placeholder="FuelType"  required formControlName="fuelType">
                  <div class="valid-feedback">
                    Looks good!
                  </div>
                </div>
                <div class="col-md-4 mb-3">
                  <label for="validationCustomUsername">Exterior Color</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroupPrepend">@</span>
                    </div>
                    <input type="text" class="form-control" id="sellerphonenumber" placeholder="ExteriorColor" aria-describedby="inputGroupPrepend" required formControlName="exteriorColor">
                    <div class="invalid-feedback">
                      Please choose a username.
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="col-md-4 mb-3">
                  <label for="validationCustom01">Interior Color</label>
                  <input type="text" class="form-control" id="selleremail" placeholder="InteriorColor" required formControlName="interiorColor">
                  <div class="valid-feedback">
                    Looks good!
                  </div>
                </div>
                <div class="col-md-4 mb-3">
                  <label for="validationCustom02">Identification</label>
                  <input type="text" class="form-control" id="sellerpassword" placeholder="Identification"  required formControlName="identification">
                  <div class="valid-feedback">
                    Looks good!
                  </div>
                </div>
                
              </div>

              <button class="btn btn-secondary" (click)="updateMotors()" >Submit</button>
            </form>
              
        </div>
        <div class="modal-footer">
        </div>
    </ng-template>
    
    
